.v-enter-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-from {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.show {
  animation: showIn 0.3s ease both;
}

@keyframes showIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}